{% extends 'shop/base.html' %} {% load static %}
<!-- added title -->
{% block title %} Home shop {% endblock %}
<!-- end title -->
<!-- added body -->
{% block body %}
<!-- carousel -->
<section id="reviews" class="py-3">
  <div id="slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- carousel item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div
              class="col-sm-4 mx-auto d-flex justify-content-between review-item py-3"
            >
              <div class="card">
                <img
                  class="card-img-top"
                  src="/media/{{product.0.image}}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">{{product.0.product_name}}</h5>
                  <p class="card-text">
                    {{product.0.desc}}
                  </p>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
              </div>
            </div>
            {% for i in product|slice:"1:" %}
              <div class="col-sm-4 mx-auto d-flex justify-content-between review-item py-3">
                <div class="card">
                  <img class="card-img-top" src="/media/{{i.image}}" alt="Card image cap"/>
                    <div class="card-body">
                      <h5 class="card-title">{{i.product_name}}</h5>
                        <p class="card-text">
                          {{i.desc}}
                        </p>
                      <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
              </div>
              {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
                    </div>
                  </div>
                </div>
                <!-- carousel item -->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
              {% endif %} 
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- end of carousel item -->
    </div>
    <!-- carousel control -->
    <a
      href="#slider"
      class="carousel-control-prev"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon bg-primary"></span>
    </a>
    <a
      href="#slider"
      class="carousel-control-next"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon bg-primary"></span>
    </a>
  </div>
</section>
<!-- end of carousel -->
{% endblock %}
<!-- end body -->
