{% extends 'shop/base.html' %}
<!-- added title -->
{% block title %}My awesome cart Tracker {% endblock %}
<!-- added css here -->
{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h2>Enter your order id and email address to track your order</h2>
            <form method="POST" action="#" id="trackerForm">
                {% csrf_token %}
                    <div class="form-group col-md-6">
                        <label for="OrderId">Order Id</label>
                        <input type="text" class="form-control" id="OrderId" name="OrderId" placeholder="Order Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary">Track Order</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h2>Your order status</h2>
            <ul class="list-group" id="items"></ul>
        </div>
    </div>
</div>
{% endblock %}
<!-- end  -->
{%block js%}
<script>
$("#trackerForm").submit(function(event){
    $("#items").empty();
    var formData={
        'orderId':$('input[name=orderId]').val(),
        'email':$('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
        type:'POST',
        url:'/shop/tracker/',
        data:formData,
        encode:true
    })
    .done(function(data){
        console.log(data)
    });
    event.preventDefault();
});
</script>
{%endblock%}